 <div id='kitchen01sidebar' >
 	<!-- <button data-hide='#kitchen01sidebar'>close</button>  -->
 	<div  class="panel panelone">
 		<ul>
	 		<li>Palletes</li>
			<li>Appliance Packages</li>
	 		<li>Kitchen Options</li>
	 		<li>Interior Options</li>
 		</ul>
 	</div>
 </div>