<div id='main' >

	<div id='navarrow'>
		<img class='navarrow' src='http://i.imgur.com/g80Dp4L.jpg'>
	</div>

	<div id='kitchenmenu'>
		<img class='empty' src="http://i.imgur.com/MYbD3hi.png">
		<img class='options' src="http://i.imgur.com/qnBEVm5.png">
		<!-- use the <h1> code below to fade in menu items separately --> 
		<!-- <h1>David Silva</h1> -->
	</div>

	<div id= 'x'>
		<img class="x" src="http://i.imgur.com/CJ65ryv.png">
	</div>

	<div id= 'costmenu'>
		<img class="costmenu" src='http://i.imgur.com/09EtgLn.png'>
	</div>

	<div id= 'costarrow'>
		<img class="costarrow" src='http://i.imgur.com/9SC6fYE.png'>
	</div>


	



<!-- <div id='navbar'>
	<ul class="">
		<li><button class='showsidebar'> <span class='glyphicon glyphicon-th-list'></span> </button></li>
		<li><button> <span class='glyphicon glyphicon-pencil'></span> </button></li>
		<li><button> <span class='glyphicon glyphicon-map-marker'></span> </button></li>
		<li><button> <span class='glyphicon glyphicon-question-sign'></span> </button></li>
	</ul>
	</div> -->


 <div id="sidebar">
 	<!-- <button class='hidesidebar'>close</button> --> 
 	<div  class="panel panelone">
 		<ul>
	 		<li><a data-show="#kitchen01sidebar">Configure Current Room </a>
	 			<%= render partial: 'kitchen01sidebar'%>
	 		</li>
	 		<li><a data-show="#kitchen02sidebar">Configure Current Room </a></li>
 		</ul>
 	</div>


 <div id='kitchen02sidebar' >
 	<button data-hide="#kitchen02sidebar">close</button> 
 	<div  class="panel panelone">
 		<ul>
	 		<li>Palletes</li>
			<li>Appliance Packages</li>
	 		<li>Kitchen Options</li>
	 		<li>Interior Options</li>
 		</ul>
 	</div>
 </div>
		<!-- below is code for custom image icon -->
		<!-- <button> <img src="image.url"></button> -->


<!-- 	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    {}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li><a data-image='http://i.imgur.com/rWcThr1.jpg' href="#">Action</a></li>
	    <li><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
	    <li ><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	    <li><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
	    <li><a data-image='http://imgur.com/l9DaRxK.jpg'href="#">reset</a></li>
	  </ul>
	</div>
	</div> -->
</div>
